body{
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

html, body{
    width: 100%;
    height:100%;
    padding:0;
    margin:0px;
}



.container{
    width: 80%;
    margin:0 auto;
}

header{
    background: brown;
    position: sticky;
    top: 0%;
    z-index: 9;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left:70px ;
    padding-top: 23px;

    position: relative;
}

nav a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {    /* pseudo class hover animation*/
    color:yellowgreen;
}

nav a::before{  /*pseudo elements before the content*/
    content: '';
    display:block;
    height: 5px;
    background-color:#444;
    position: absolute;
    top:0;
    width:0%;

    transition: all ease-in-out 250ms; /*controls the speed of hover animation*/
}

nav a:hover::before {
    width: 100%;
}

nav li.nav-button{
    display:none;
}

@media only screen and (max-width: 900px) {
    nav li{display: none; text-align: right;}
    nav a {line-height: 20px;}
    nav a::before{display:none;}
    nav a:hover{font-size:110%;}
    nav li.nav-button{display:inline-block; float: right; z-index: 6}
}

.slideshow{
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.slide{
    display:none;
}

.discover-product-button a{
    text-decoration: none;
    color: black;
}

.discover-product-button{
    background-color: grey;
    padding:32px 16px;
    display: inline-block;
    position: absolute;
    bottom:3%;
    left:90%;
    transform: translate(-50%,0);
    border-radius: 7px;
    border:none;
    transtion-duration: 5s;
    font-size: large;
}

.discover-product-button:hover{
    transform:scale(1.1) translate(-45%,0);
}


footer {
    display: table;
    width: 100%;
    background-color: brown;
    color:white;
    text-align: left;
}
footer .column{
    width: 33%;
    float: left;
}

.social-logo{
    position:relative;
    margin:auto;
    width:50%;
    border:none;
    padding: 5px;
    text-align: center;

}

.newsletter{
    margin: auto;
    text-align: center;
    padding: 3px;
}


.subscribe-button{
    background-color: yellowgreen;
    padding:0px 1px;
    display: inline-block;
    transform: translate(-50%,0);
    border-radius: 7px;
    border:none;
    transtion-duration: 5s;
    font-size: small;
}


